@{
  Layout = "_Layout";
}

@using Bakery.Models

<h1 class="jumbotron"><u>Welcome to Pierre's Sweets</u></h1>


<hr>
<hr>


<div class="row" style="padding-top: 20px;">
<div class="col-6">
<h2><u>Flavor's:</u></h2>
@if (Model["flavors"].Length == 0)
{
  <p>No flavor have been added yet!</p>
} 
<ul>
  @foreach (Flavor flavor in Model["flavors"])
  {
    <li class="grow" style="list-style-position: inside; padding-right: 45px;">@Html.ActionLink(@flavor.Name, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
  }
</ul>
</div>
<div class="col-6">

  <h2><u>Treats's:</u></h2>
  @if (Model["treats"].Length == 0)
  {
    <p>No Treats have been added yet!</p>
  } 
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li class="grow" style="list-style-position: inside; margin-top: 5%">@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
  </ul>
</div>
</div>
<p class="grow">@Html.ActionLink("Log out", "Index", "Account")</p>
<hr>
<hr>