@{
    Layout = "_Layout";
}

@using Bakery.Models;

<h1 class="jumbotron"><u>Welcome to Pierres's Sweet Treats</u></h1><br>

<h2 class="alink">@Html.ActionLink("Treats", "index", "Treats")
    || @Html.ActionLink("Add New Treat:", "Create", "Treats")</h2>

    @if (@Model.Count == 0)
    {
        <h2>No Sweet Treats have been added yet!</h2>
    }

  <ul>
      @foreach(Treat treat in ViewBag.Treat)
      {
        <p>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</p>
      }
    </ul>  


    <h2 class="alink">@Html.ActionLink("Flavors", "Index", "Flavors")
         || @Html.ActionLink("Add New Flavors:", "Create", "Flavors")</h2>

         @if (@Model.Count == 0)
         {
            <h2>No Flavors have been added yet!</h2>
         }
           <ul>
      @foreach (Flavor flavor in ViewBag.Flavors)
      {
        <p>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</p>
      } 
    </ul> 