@{
    Layout = "_Layout";
}

@using Bakery.Models

@model LoginViewModel

<h2><u>Login with your account</u></h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email, new {style="padding-right: 20px;"})
    @Html.TextBoxFor(m => m.Email)<br><br>

    @Html.LabelFor(m => m.Password, new {style="padding-right: 20px;"})
    @Html.EditorFor(m => m.Password)<br><br>

    <input class="btn btn-dark" type="submit" value="Log in" /><br><br>
}

<p class="btn btn-dark">@Html.ActionLink("Register for an account", "Register")</p>
<p class="btn btn-dark">@Html.ActionLink("Back to accounts page", "Index")</p>