
@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h4>Add a Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<P>@Html.ActionLink("back to List", "Index")</P>