@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1 class="jumbotron"><u>Flavor Assignor</u></h1>

<h1> Add Flavor To: @Html.DisplayFor(model => model.Name)</h1>
<hr>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  <p>@Html.Label("Select Flavor") @Html.DropDownList("FlavorId")</p>
  <br>

  <input type="submit" value="Add" class="btn btn-dark" style="margin-left: 10%;"/>
}
<hr>
<hr>

<p class="btn btn-dark">@Html.ActionLink("Back to Treats", "Index")</p>