@{
  Layout = "_Layout";
}

<h1><u>Flavor's Details</u></h1>
<hr>
<hr>

@model Bakery.Models.Flavor
@using Bakery.Models

<h1>@Html.DisplayFor(model => model.Name)</h1>

@if (@Model.JoinEntities.Count == 0 && @ViewBag.Treats.Count == 0)
{
  <p class="text-danger" style="font-weight: bold;">*No treats are available*</p>
  <p class="text-danger">Flavor cannot be assiged a treat until a flavor is added to flavor list</p>
  <p class="enlarge" style="margin-bottom: 4%;">@Html.ActionLink("Add Treat to treat list", "Create", "Treats")</p>
}
else if (@Model.JoinEntities.Count == 0)
{
  <br>
  <p class="btn btn-dark" style="margin-bottom: 4%;">@Html.ActionLink("Add Treat To This Flavor", "AddTreat", new { id = Model.FlavorId})</p>
}
else{
  <ul>
    @foreach(FlavorTreat join in Model.JoinEntities)
    {
      @using (Html.BeginForm("DeleteJoin", "Flavors"))
      {
      <li> 
        <h3 style="margin-right: 7%;">Treats: @join.Treat.Name </h3>
        <hr>
        <br>
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input style="margin-right: 30px;" type="submit" value="Delete" class="btn btn-dark"/>
      </li>
      }
    }
  </ul>
  <p class="btn btn-dark" style="margin-bottom: 4%;">@Html.ActionLink("Add Treat to this Flavor", "AddTreat", new { id = Model.FlavorId})</p>
}
<hr style="font-size: 10px;">

<p class="btn btn-dark">@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId})</p>
<p class="btn btn-dark">@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId})</p>
<p class="btn btn-dark">@Html.ActionLink("View Flavors", "Index")</p>
<p class="btn btn-dark">@Html.ActionLink("Main Menu", "Index", "Home")</p>